.Avada-MobilePosition {
  width: 25%;
  aspect-ratio: 15/8;
  border-radius: 3px;
  position: relative;
  border: 3px solid #f4f6f8;
  cursor: pointer;
  //margin: 20px;
  .Avada-MobilePosition__Input {
    background-color: #f4f6f8;
    width: 60px;
    height: 30px;

    position: absolute;
  }
  .Avada-MobilePosition__Input--top {
    left: 4px;
    top: 5px;
  }
  .Avada-MobilePosition__Input--bottom{
    left: 4px;
    bottom: 5px;
  }
}

.Avada-MobilePosition--selected, .Avada-MobilePosition--selected {
  border-color: #5c6ac4 !important;
  .Avada-MobilePosition__Input, .Avada-MobilePosition__Input {
    background-color: #5c6ac4 !important;
  }
}

.Avada-MobilePosition {
  width: 80px;
  height: 100px;
  border-radius: 3px;
  position: relative;
  border: 1px solid #f4f6f8;
  cursor: pointer;
  padding: 5%;
  .Avada-MobilePosition__Input {
    background-color: #f4f6f8;
    width: 90%;
    height: 20px;
    border-radius: 3px;
    position: absolute;
  }
  .Avada-MobilePosition__Input--top {
    top: 5px;
  }
  .Avada-MobilePosition__Input--bottom {
    bottom: 5px;
  }
}

