@import "colors";
@import 'scrollbar';
@import "components";

body[data-lock-scrolling] {
  overflow: auto hidden;
}

.Avada-Frame {
  display: flex;
  height: calc(100vh - 5.6rem);
}

.Polaris-Header-Title__TitleWithMetadataWrapper {
  display: flex;
  align-items: center;

  .Polaris-Header-Title__TitleMetadata {
    margin-top: 0;
  }
}

.Polaris-Modal-Dialog__Container {
  .Polaris-Modal-Header {
    align-items: center;

    .Polaris-Modal-CloseButton {
      margin-left: 1rem;
    }
  }
}

.Polaris-Frame__Content{
  background-color: white !important;
}

.Polaris-Page{
  padding-bottom: 300px !important;
}
a{
  text-decoration: none;
}
